/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

  head{
  margin:0px;    
  }

  body{
  margin:0px;
  background-color: black;
  }
  
  // !!!!!!!!!!!!!!!!!!!!!ESTILO DE BARRA DE DESPLAZAMIENTO!!!!!!!!!!!!!!!!!!
  
  ::-webkit-scrollbar{
    width: 12px;
    background-color: #41006f;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #2cd629;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

// !!!!!!!!!!!!!!!!!!!!!ESTILO DE BARRA DE DESPLAZAMIENTO!!!!!!!!!!!!!!!!!!

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
