//Color
$color1: white;
$color2:black;
$textcolor: black;

//Size
$title-mobile: 32px;
$title-desktop: 40px;
$subtitle-mobile: 26px;
$subtitle-desktop: 34px;
$logo:200px;
$h1: 20px;
$h1-tablet-desktop: 30px;

//letter-sizes
$mobile:576;
$tablet: 1082px;
$desktop:2039px;
